.user {
  display: flex;
  height: 75px;
  max-width: 100%;
  background-color: #5b5d6a;
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}
.user_link {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.user .avatar_container {
  margin: 0 15px;
}
.user_info {
  flex-grow: 1;
}
.user_name {
  font-weight: 600;
  white-space: nowrap;
}
.user_splitter {
  margin: 0 15px;
}
.user_status {
  display: block;
  font-size: 16px;
  color: #27282E;
  line-height: 20px;
}
.user_add {
  min-width: 150px;
  height: 100%;
  margin-left: 15px;
  border-left: 1px solid #27282E;
  transition: all 0.3s;
}
.user_add:hover {
  background-color: #383942;
}
.user_add:disabled {
  color: #383942;
  cursor: default;
}
.user_add:disabled:hover {
  background-color: transparent;
}
.user_add::after {
  content: 'Start chat';
}
@media screen and (max-width: 768px) {
  .user_name,
  .user_city {
    font-size: 16px;
  }
  .user_splitter {
    margin: 0 10px;
  }
  .user_add {
    min-width: 100px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .user .avatar_container {
    margin: 0 10px;
  }
  .user_name {
    font-weight: 400;
  }
  .user_splitter,
  .user_city {
    display: none;
  }
  .user_status {
    font-size: 12px;
  }
  .user_add {
    font-size: 20px;
    min-width: 50px;
    margin-left: 10px;
  }
  .user_add::after {
    content: '+';
  }
}
