.navbar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 25px 0;
}
.navbar_links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top: 1px solid #5b5d6a;
  border-bottom: 1px solid #5b5d6a;
  padding: 25px 0;
  margin: 25px 0;
}
