.dialogs_wrapper {
  min-width: 250px;
  max-width: 250px;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}
.dialogs {
  position: relative;
  padding: 25px 0;
}
.dialogs_title {
  text-transform: uppercase;
  padding: 0 25px;
}
.dialogs_list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #5b5d6a;
  padding: 25px 0;
  margin: 25px 0;
  overflow-wrap: break-word;
  hyphens: manual;
}
.dialogs_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  transform: scale(1, 0.8);
  display: none;
}
@media screen and (max-width: 1200px) {
  .dialogs {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .dialogs_wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    min-width: none;
    max-width: none;
    width: calc(50vw - 15px);
    z-index: 1;
    transition: all 0.5s;
  }
  .dialogs_wrapper.closed {
    right: -50vw;
  }
  .dialogs_close {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .dialogs_wrapper {
    width: calc(100vw - 20px);
  }
  .dialogs_wrapper.closed {
    left: -100vw;
  }
}
